@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray:							#555;
$gray-light: 				#777;
$gray-medium-light: #eaeaea;
$gray-darker:				#222;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}